

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}



.tarjeta{
    position: relative;
    width: 700px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    
}

/* 50 y 50 para imagen y contenido */
.imagen, .contenido{
    flex: 1;
    padding: 10px;
}

.imagen img{
    max-width: 70%;
    max-height: 70%;
    height: auto;
    display: block;

    border-radius: 130px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}


.fila-superior{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; 
    align-items: center;

}


.contenido{
    font-family:'Arial', sans-serif;
    h2{
        margin-top: 10px;
        font-weight: lighter;
        font-size: 20px;
    }
}




.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 20px; */
}


button{
    background-color: #3A86FF;
    color: white;
    border: none;
    border-radius: 30px;
    width: 149px;
    height: 49px;
    font-size: 18px;
    cursor: pointer;

}
button:hover{
    background-color: #2563eb;
}

.bi-facebook{
    color: #3A86FF;
}
.bi-facebook, .bi-envelope, .bi-telephone-fill{
    margin-right: 10px;
}




.triangulo {
    position: absolute;
    top: 0;
    right: 0; /*Posicion Esquina Derecha*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 70px 0 0 70px; /* Tamano */
    border-color: transparent transparent transparent #3A86FF;
    transform: rotate(180deg); /* Rotrar grados*/
}


.btn-dark {
    position: fixed; /* Fijo para que permanezca visible al hacer scroll */
    top: 20px; /* Separación desde la parte superior */
    right: 20px; /* Separación desde la derecha */
    background-color: #3A86FF; /* Color de fondo */
    color: white; /* Color del texto/icono */
    border: none; /* Sin bordes */
    border-radius: 50%; /* Forma circular */
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); /* Sombras */
    transition: background-color 0.3s ease; /* Animación al cambiar de color */
}


.modo-dark-tarjeta{
    background-color: #222;
    color: white;
}

.modo-dark-body{
    background-color: #333;
    color: white;
}



@media screen and (max-width: 576px){
    .tarjeta{
        flex-direction: column;
        width: 300px;
        height: 600px;
    }
    .fila-superior{
        flex-direction: column;
        align-items: center;
    }

    .imagen img{
        max-width: 80%;
    }
    
}