

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}



.tarjeta{
    width: 700px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
    
}

/* 50 y 50 para imagen y contenido */
.imagen, .contenido{
    flex: 1;
    padding: 10px;
}

.imagen img{
    max-width: 70%;
    max-height: 70%;
    height: auto;
    display: block;

    border-radius: 130px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}


.fila-superior{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; 
    align-items: center;

}


.contenido{
    font-family:'Arial', sans-serif;
    h2{
        margin-top: 10px;
        font-weight: lighter;
        font-size: 20px;
    }
}




.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 20px; */
}


button{
    background-color: #3A86FF;
    color: white;
    border: none;
    border-radius: 30px;
    width: 149px;
    height: 49px;
    font-size: 18px;
    cursor: pointer;

}
button:hover{
    background-color: #2563eb;
}

.bi-facebook{
    color: #3A86FF;
}
.bi-facebook, .bi-envelope, .bi-telephone-fill{
    margin-right: 10px;
}







@media screen and (max-width: 576px){
    .tarjeta{
        flex-direction: column;
        width: 300px;
        height: 600px;
    }
    .fila-superior{
        flex-direction: column;
        align-items: center;
    }

    .imagen img{
        max-width: 80%;
    }
    
}